[Unit]
Description=Runs Color Detection
After=network.target

[Service]
Type=simple
User=orin
WorkingDirectory=/home/orin/
ExecStart=java -jar /home/orin/pv-orin/photon-server/build/libs/photonvision-dev-Unknown-linuxarm64.jar
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target