[Unit]
Description=Runs Color Detection
After=network.target

[Service]
Type=simple
User=frc5572
WorkingDirectory=/home/frc5572/photonvision
ExecStart=java -jar /home/frc5572/photonvision/photon-server/build/libs/photonvision-dev-Unknown-linuxarm64.jar
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target