[Unit]
Description=Runs Color Detection
After=network.target

[Service]
Type=simple
User=orangepi
WorkingDirectory=/home/orangepi/coprocessor
ExecStart=/home/orangepi/coprocessor/.venv/bin/python /home/orangepi/coprocessor/main.py
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target